/* Estilos para el saludo sobre la cabeza del icono */
#chat-greeting {
    position: absolute;
    bottom: calc(100% + 10px); /* Justo encima del icono */
    right: 20px; /* Ajusta según tu diseño */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

/* Estilos para el ícono del chat */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.chat-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    max-width: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    bottom: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Posición al lado del icono */
}

/* Contenido del modal */
.modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 500px; /* Ajusta la altura según sea necesario */
}

#chat-box {
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
}

.chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message {
    background-color: #dcf8c6;
    align-self: flex-end; /* Alinea los mensajes del usuario a la derecha */
    border-bottom-right-radius: 0; /* Redondea solo la esquina inferior izquierda */
}

.bot-message {
    background-color: #eee;
    align-self: flex-start; /* Alinea los mensajes del chatbot a la izquierda */
    border-bottom-left-radius: 0; /* Redondea solo la esquina inferior derecha */
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
